<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flipkart Grid - 4.0(Information Security)</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?
    family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="./images/Techjunkies-logos_white.png" class="logo">
            <nav>
                <ul>
                    <li><a href="index.html">Menu</a></li>
                    <li><a href="About.html">Project Demo</a></li>
                    <li><a href="OurTeam.html">Our Team</a></li>
                    <li><a href="">Tech Stack Used</a></li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col">
                <h1>Techjunkies</h1>
                <p>Open source software is an integral part of every tech product.  There are amazing contributors who actively maintain their repositories. However, every coin has two sides. All OSS repositories may not be maintained properly, because of which, vulnerabilities may get introduced with time. Whereas, some OSS repos could be created by attackers themselves to trick the users.  We need an OSS inspector to solve this problem. This tool will help us to identify the genuineness of the repos and perform a security health check.</p>
                <a href="https://github.com/Piyush-Bhardwaj07/Techjunkies-Solution">
                    <button class="hero-btn red-btn type="button">Go To Project</button>
                </a>
            </div>
            <div class="col">
                <div class="card card1">
                    
                </div>
                <div class="card card2">
                    
                </div>
                <div class="card card3">
                    
                </div>
                <div class="card card4">
                    
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>